body {
    background-color: #191724;
    color: #e0def4;
    font-family: verdana;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

a:link {
    color: #e0def4;
    text-decoration: none;
}

a:visited {
    color: #e0def4;
    text-decoration: none;
}

a:hover {
    color: #e0def4;
    text-decoration: underline;
}

a:active {
    color: #e0def4;
    text-decoration: underline;
}

div.grid-container {
    display: grid;
    grid-template-columns: 225px 225px 225px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

div.grid-item {
    background-color: #191724;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    height: 300px;
}

div.grid-item2 {
    background-color: #191724;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    height: 300px;
}

div.text {
    /* height: 80px; */
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 90px;
}

/* div.trim {
    max-height: 200px;
    max-width: 200px;
    align-items: center;
    overflow: show;
} */

div.title {
    text-align: justify;
}

/* Main container */
div.overlay-image {
    position: relative;
    width: 100%;
}

/* Original image */
div.overlay-image .image {
    display: block;
    max-height: 210px;
    max-width: 210px;
    align-items: center;
    overflow: hidden;
}

div.overlay-image h3 {
    background-color: #191724;
    position: absolute;
    top: -20%;
    left: -8%;
    border: solid;
    rotate: -30deg;
    font-size: 22pt;
    padding: 5px;
    box-shadow: 0px 0px 30px 10px;
    animation: anim_color 5s linear infinite;
}

@keyframes anim_color {
    0%{color:#f6c177 }
    25%{color:#ebbcba}
    50%{color:#9ccfd8}
    75%{color:#ebbcba}
    100%{color:#f6c177 }
}

div.overlay-image journal {
    /* color: #e0def4; */
    color: #191724;
    position: absolute;
    bottom: 7%;
    right: 7%;
    font-weight: bold;
    text-align: right;
    text-shadow: -1px -1px 0 #e0def4, 1px -1px 0 #e0def4, -1px 1px 0 #e0def4, 1px 1px 0 #e0def4;
    max-width: 180px;
}

/* Original text overlay */
div.overlay-image .text {
    color: #e0def4;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 1px 1px 2px #191724;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

/* Original text overlay */
div.overlay-image .bottomtext {
    color: #e0def4;
    /* font-weight: bold; */
    line-height: 1.5em;
    text-shadow: 1px 1px 2px #191724;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

div.overlay-image .headertext {
    color: #e0def4;
    /* font-weight: bold; */
    line-height: 1.5em;
    text-shadow: 1px 1px 2px #191724;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

img {
    border: 2px solid #191724;
    border-radius: 10%;
}