body {
    background-color: #0E1116;
    color: #E1E1E6;
    font-family: verdana;
}

/* Headings and paragraphs centralized styling */
h1, h2, p {
    text-align: center;
}

/* Anchor tag styles */
a:link, a:visited {
    color: #E1E1E6;
    text-decoration: none;
}

a:hover, a:active {
    color: #E1E1E6;
    text-decoration: underline;
}

/* Grid container styles */
div.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 225px); /* Simplified column definition */
    padding: 5px;
    align-items: center;
    justify-content: center;
}

/* Grid item styles */
div.grid-item {
    background-color: #0E1116;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    height: 100%;
}

/* Text styles */
div.text {
    /* font-weight: bold; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 90px;
    text-align: center;
    /* padding: 5px; */
}

/* Title styles */
div.title {
    text-align: justify;
}

/* Overlay image container styles */
div.overlay-image {
    position: relative;
    width: 100%;
}

/* Original image styles */
div.overlay-image .image {
    display: block;
    max-height: 210px;
    max-width: 210px;
    align-items: center;
    overflow: hidden;
}

/* H3 element in overlay image */
div.overlay-image h3 {
    background-color: #0E1116;
    position: absolute;
    top: -20%;
    left: -8%;
    border: solid;
    transform: rotate(-30deg);
    font-size: 22pt;
    padding: 5px;
    box-shadow: 0px 0px 15px 5px;
    animation: anim_color 4s ease-in-out infinite;
}

/* Keyframes for animation */
@keyframes anim_color {
    0%, 100% { color: #EDD3AD; }
    50% { color: #FDF5DA; }
}

/* Journal element in overlay image */
div.overlay-image authorrefleft {
    color: #0E1116;
    position: absolute;
    bottom: 14%;
    left: 7%;
    font-weight: bold;
    text-align: left;
    text-shadow: -1px -1px 0 #E1E1E6, 1px -1px 0 #E1E1E6, -1px 1px 0 #E1E1E6, 1px 1px 0 #E1E1E6;
    max-width: 180px;
}

div.overlay-image authorrefright {
    color: #0E1116;
    position: absolute;
    bottom: 5%;
    left: 7%;
    font-weight: bold;
    text-align: left;
    text-shadow: -1px -1px 0 #E1E1E6, 1px -1px 0 #E1E1E6, -1px 1px 0 #E1E1E6, 1px 1px 0 #E1E1E6;
    max-width: 180px;
}

/* Image styles */
img {
    border: 2px solid #0E1116;
    border-radius: 10%;
}
